<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href="/stylesheets/bootstrap.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="/javascripts/bootstrap.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NodeAuth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link {{#if active_members}}active{{/if}}" href="/">Members</a>
        </li>
        {{#unless user}}
        <li class="nav-item">
          <a class="nav-link {{#if active_register}}active{{/if}}" href="/users/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if active_login}}active{{/if}}" href="/users/login">Login</a>
        </li>
        {{/unless}}
      </ul>

      <ul class="navbar-nav">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>
        {{/if}}
      </ul>

    </div>
  </nav>
  <div class="container">
    <div id="messages">
      {{#if expressFlashSuccess}}
      <div class="alert alert-success m-5">{{expressFlashSuccess}}</div>
      {{/if}}

      {{#if expressFlashError}}
      <div class="alert alert-danger m-5">{{expressFlashError}}</div>
      {{/if}}
    </div>
  </div>
  {{{body}}}
  </div>
</body>

</html>